@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: gray;
  background: url(../images/body-bg.png) repeat fixed;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #658361;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #658361;
  outline: none;
  text-decoration: none;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  font-weight: normal;
}

::-webkit-selection {
  color: #fff;
  background: #658361;
}

::-moz-selection {
  color: #fff;
  background: #658361;
}

::selection {
  color: #fff;
  background: #658361;
}

.container-wrap {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 1em;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .container-wrap {
    width: 100%;
  }
}

.fh5co-nav {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    margin: 0;
  }
}
.fh5co-nav .top-menu {
  padding: 0 0;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .top-menu {
    padding: 28px 1em;
  }
}
.fh5co-nav #fh5co-logo {
  font-size: 45px;
  margin: 0;
  padding: 1em 0;
  font-family: "Libre Baskerville", serif;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 768px) {
  .fh5co-nav #fh5co-logo {
    border-bottom: none;
    padding: .1em 0;
  }
}
.fh5co-nav #fh5co-logo a {
  color: #658361;
}
.fh5co-nav a {
  padding: 5px 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1 {
    display: none;
  }
}
.fh5co-nav ul {
  padding: 20px 0;
  margin: 0;
}
.fh5co-nav ul li {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.fh5co-nav ul li a {
  position: relative;
  font-size: 13px;
  padding: 30px 20px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:after {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  content: '';
  width: 50%;
  height: 2px;
  background: #658361;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
.fh5co-nav ul li a:hover {
  color: #000;
}
.fh5co-nav ul li a:hover:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fh5co-nav ul li a.donate {
  color: #658361;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:after {
  display: none !important;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #000;
}
.fh5co-nav ul li.btn-cta a {
  padding: 30px 0px !important;
  color: #fff;
}
.fh5co-nav ul li.btn-cta a span {
  background: #658361;
  padding: 4px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
.fh5co-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.fh5co-nav ul li.active > a {
  color: #000 !important;
  position: relative;
}
.fh5co-nav ul li.active > a:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#fh5co-counter,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-video {
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .fh5co-video {
    height: 450px;
  }
}
.fh5co-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.fh5co-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.fh5co-video:hover a {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#fh5co-hero {
  height: 500px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  float: left;
}
#fh5co-hero .btn {
  font-size: 24px;
}
#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#fh5co-hero .flexslider .slides .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.3);
}
#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 500px;
  position: relative;
}
#fh5co-hero .flexslider .flex-control-nav {
  bottom: 80px;
  z-index: 1000;
  right: 20px;
  float: right;
  width: auto;
}
#fh5co-hero .flexslider .flex-control-nav li {
  display: block;
  margin-bottom: 10px;
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  border: 2px solid #658361;
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  height: 500px;
  z-index: 9;
  width: 100%;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 2em;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner {
    text-align: center;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h1, #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Libre Baskerville", serif;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
    font-size: 28px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 a {
  color: rgba(101, 131, 97, 0.8);
  border-bottom: 1px solid rgba(101, 131, 97, 0.7);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .heading-section {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .heading-section {
    font-size: 30px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner s
.fh5co-lead {
  font-size: 20px;
  color: #fff;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner s
.fh5co-lead .icon-heart {
  color: #d9534f;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  padding: 20px 30px !important;
  border: none;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
    width: 100%;
  }
}

.fh5co-light-grey {
  background: #fafafa;
}

#fh5co-about,
#fh5co-services,
#fh5co-contact,
#fh5co-sermon,
#fh5co-bible-verse,
#fh5co-news,
#fh5co-events,
#fh5co-counter,
#fh5co-footer {
  padding: 5em 3em;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-about,
  #fh5co-services,
  #fh5co-contact,
  #fh5co-sermon,
  #fh5co-bible-verse,
  #fh5co-news,
  #fh5co-events,
  #fh5co-counter,
  #fh5co-footer {
    padding: 3em 1em;
  }
}

#fh5co-intro {
  padding: 3em 3em;
  clear: both;
}
#fh5co-intro h2 {
  font-style: italic;
}

.dailyVerse {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}

.ministries-list {
  margin: 0;
  padding: 0;
}
.ministries-list li {
  list-style: none;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
}
.ministries-list li i {
  padding-right: 10px;
}

.services, .news {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.services h3, .news h3 {
  font-size: 18px;
}
.services h3 a, .news h3 a {
  color: #000;
}
.services .img-holder, .news .img-holder {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.services .img-holder img, .news .img-holder img {
  max-width: 100%;
  z-index: -1;
  position: relative;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.services:hover .img-holder img, .news:hover .img-holder img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.services .desc .date, .news .desc .date {
  display: block;
  margin-bottom: 10px;
}

.news {
  margin-bottom: 40px;
}

.sermon-entry {
  margin-bottom: 40px;
}
.sermon-entry h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sermon {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .sermon {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .sermon {
    height: 270px;
  }
}
.sermon:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sermon .play {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  z-index: 9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sermon .play a {
  width: 70px;
  height: 70px;
  display: table;
  margin: 0 auto;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 28px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 28px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 28px -16px rgba(0, 0, 0, 0.75);
}
.sermon .play a i {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
  font-size: 20px;
}
.sermon:hover:before {
  opacity: 1;
}

.events-entry {
  margin-bottom: 50px;
}
.events-entry h3 {
  font-size: 20px;
}
.events-entry h3 a {
  color: #000;
}
.events-entry .date {
  display: block;
  margin-bottom: 10px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

#fh5co-bible-verse {
  background: #658361;
  position: relative;
}
#fh5co-bible-verse .bible-verse-slide {
  text-align: center;
  position: relative;
  color: #fff !important;
}
#fh5co-bible-verse .bible-verse-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 60%;
  position: relative;
  padding: 0;
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  #fh5co-bible-verse .bible-verse-slide blockquote {
    width: 85%;
  }
}
#fh5co-bible-verse .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#fh5co-bible-verse .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#fh5co-bible-verse .arrow-thumb a:hover, #fh5co-bible-verse .arrow-thumb a:focus, #fh5co-bible-verse .arrow-thumb a:active {
  text-decoration: none;
}
#fh5co-bible-verse .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.3) !important;
}
#fh5co-bible-verse .owl-theme .owl-dots .active span {
  background: white !important;
}

.fh5co-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}
.fh5co-counters .fh5co-counter {
  font-size: 40px;
  display: block;
  color: black;
  width: 100%;
  font-weight: 400;
  margin-bottom: .3em;
  font-family: "Libre Baskerville", serif;
}
.fh5co-counters .fh5co-counter-label {
  font-size: 12px;
  margin-bottom: 2em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: gray;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #000;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.contact-info li a {
  color: #000;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-size: 13px !important;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}
.form-group .btn-modify {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 15px;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #658361;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.fh5co-heading {
  margin-bottom: 5em;
}
.fh5co-heading h2 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: auto;
  font-family: "Libre Baskerville", serif;
  color: #000;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

#fh5co-footer {
  margin-top: 20px !important;
  background: #586E72;
  color: rgba(255, 255, 255, 0.7) !important;
}
#fh5co-footer a {
  color: white !important;
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-footer-links {
    margin-bottom: 30px;
  }
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer h2, #fh5co-footer h3 {
  color: white !important;
}
#fh5co-footer h3 {
  font-size: 18px;
  line-height: auto;
}
#fh5co-footer h2 {
  font-style: 28px;
}
#fh5co-footer p .fh5co-social-icons {
  border: 1px solid red;
  margin: 0 !important;
}
#fh5co-footer .copyright {
  display: block;
  margin-top: 3em;
}
#fh5co-footer .copyright .block {
  display: block;
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0c5";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 25px !important;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #000;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #000;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff;
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff;
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #658361;
  color: #fff;
  border: 2px solid #658361;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #70926c !important;
  border-color: #70926c !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #658361;
  border: 2px solid #658361;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #658361;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #658361;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

* {
	font-size: 9pt;
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	font-family: '微软雅黑';
	margin: 0 auto;
	min-width: 980px;
}
ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	border: 0;
}
dl, dt, dd, span {
	margin: 0;
	padding: 0;
	display: block;
}
a, a:focus {
	text-decoration: none;
	color: #000;
	outline: none;
blr:expression(this.onFocus=this.blur());
}
a:hover {
	color: #00a4ac;
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
cite {
	font-style: normal;
}
h2 {
	font-weight: normal;
}
/*cloud*/

#mainBody {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.cloud {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/cloud.png) no-repeat;
	z-index: 1;
	opacity: 0.5;
}
#cloud2 {
	z-index: 2;
}
/*login*/
.logintop {
	height: 47px;
	position: absolute;
	top: 0;
	background: url(../images/loginbg1.png) repeat-x;
	z-index: 100;
	width: 100%;
}
.logintop span {
	color: #fff;
	line-height: 47px;
	background: url(../images/loginsj.png) no-repeat 21px 18px;
	text-indent: 44px;
	color: #afc5d2;
	float: left;
}
.logintop ul {
	float: right;
	padding-right: 30px;
}
.logintop ul li {
	float: left;
	margin-left: 20px;
	line-height: 47px;
}
.logintop ul li a {
	color: #afc5d2;
}
.logintop ul li a:hover {
	color: #fff;
}
.loginbody {
	background: url(../images/loginbg3.png) no-repeat center center;
	width: 100%;
	height: 585px;
	overflow: hidden;
	position: absolute;
	top: 47px;
}
.systemlogo {
	background: url(../images/loginlogo.png) no-repeat center;
	width: 100%;
	height: 71px;
	margin-top: 75px;
}
.loginbox {
	width: 692px;
	height: 336px;
	background: url(../images/logininfo.png) no-repeat;
	margin-top: 30px;
}
.loginbox ul {
	margin-top: 88px;
	margin-left: 285px;
}
.loginbox ul li {
	margin-bottom: 15px;
}
.loginbox ul li label {
	color: #687f92;
	float:right;
	padding-right:65px;
	
}
.loginbox ul li label a {
	color: #687f92;
}
.loginbox ul li label a:hover {
	color: #3d96c9;
}
.loginbox ul li label input {
	margin-right: 5px;
}
.loginuser {
	width: 299px;
	height: 48px;
	background: url(../images/loginuser.png) no-repeat;
	border: none;
	line-height: 48px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: bold;
}
.loginpwd {
	width: 299px;
	height: 48px;
	background: url(../images/loginpassword.png) no-repeat;
	border: none;
	line-height: 48px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: bold;
}
.loginbtn {
	width: 110px;
	height: 35px;
	background: url(../images/buttonbg.png) repeat-x;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	line-height: 35px;
	margin-left: 0px;
}
.loginy {
	width: 156px;
	height: 48px;
	background: url(../images/loginy.png) no-repeat;
	border: none;
	line-height: 48px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: bold;
}
.loginbm {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: url(../images/loginbg2.png) repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #0b3a58;
}
.loginbm a {
	font-weight: bold;
	color: #0b3a58;
}
.loginbm a:hover {
	color: #fff;
}
/*top.html*/
.header {
	height: 88px;
}
.topleft {
	height: 88px;
	background: url(../images/topleft.jpg) no-repeat;
	float: left;
	width: 300px;
}
.topleft img {
	margin-top: 12px;
	margin-left: 10px;
}
.topright {
	height: 88px;
	background: url(../images/topright.jpg) no-repeat right;
	float: right;
}
.nav {
	float: left;
}
.nav li {
	float: left;
	width: 87px;
	height: 88px;
	text-align: center;
}
.nav li a {
	display: block;
	width: 87px;
	height: 88px;
	-moz-transition: none;
	transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}
.nav li a.selected {
	background: url(../images/navbg.png) no-repeat;
}
.nav li a:hover {
	display: block;
	background: #000;
	color: #fff;
	background: none repeat scroll 0% 0% rgb(43, 127, 181);
}
.nav li img {
	margin-top: 10px;
}
.nav li a {
	display: block;
}
.nav a h2 {
	font-size: 14px;
	color: #d6e8f1;
}
.nav a:hover h2 {
	color: #fff;
}
.topright ul {
	padding-top: 15px;
	float: right;
	padding-right: 12px;
}
.topright ul li {
	float: left;
	padding-left: 9px;
	padding-right: 9px;
	background: url(../images/line.gif) no-repeat right;
}
.topright ul li:last-child {
	background: none;
}
.topright ul li a {
	font-size: 13px;
	color: #e9f2f7;
}
.topright ul li a:hover {
	color: #fff;
}
.topright ul li span {
	margin-top: 2px;
	float: left;
	padding-right: 3px;
}
.user {
	height: 30px;
	background: url(../images/ub1.png) repeat-x;
	clear: both;
	margin-top: 10px;
	float: right;
	margin-right: 12px;
	border-radius: 30px;
	behavior: url(js/pie.htc);
	white-space: nowrap;
	position: relative;
}
.user span {
	display: inline-block;
	padding-right: 10px;
	background: url(../images/user.png) no-repeat 15px 10px;
	line-height: 30px;
	font-size: 14px;
	color: #b8ceda;
	padding-left: 20px;
	padding-left: 35px;
}
.user b {
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(../images/msg.png);
	text-align: center;
	font-weight: normal;
	color: #fff;
	font-size: 14px;
	margin-right: 13px;
	margin-top: 7px;
	line-height: 18px;
}
.user i {
	display: inline-block;
	margin-right: 5px;
	font-style: normal;
	line-height: 30px;
	font-size: 14px;
	color: #b8ceda;
}
/*left.html*/
.lefttop {
	background: url(../images/lefttop.gif) repeat-x;
	height: 40px;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
}
.lefttop span {
	margin-left: 8px;
	margin-top: 10px;
	margin-right: 8px;
	background: url(../images/leftico.png) no-repeat;
	width: 20px;
	height: 21px;
	float: left;
}
.leftmenu {
	width: 187px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	overflow: hidden;
	background: url(../images/leftline.gif) repeat-y right;
}
.leftmenu dd {
	background: url(../images/leftmenubg.gif) repeat-x;
	line-height: 35px;
	font-weight: bold;
	font-size: 14px;
	border-right: solid 1px #b7d5df;
}
.leftmenu dd span {
	float: left;
	margin: 10px 8px 0 12px;
}
.leftmenu dd .menuson {
	display: none;
}
.leftmenu dd:first-child .menuson {
	display: block;
}
.menuson {
	line-height: 30px;
	font-weight: normal;
}
.menuson li {
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 5px;
}
.menuson li.active {
	position: relative;
	background: url(../images/libg.png) repeat-x;
	line-height: 30px;
	color: #fff;
}
.menuson li cite {
	display: block;
	float: left;
	margin-left: 32px;
	background: url(../images/list.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 7px;
}
.menuson li.active cite {
	background: url(../images/list1.gif) no-repeat;
}
.menuson li.active i {
	display: block;
	background: url(../images/sj.png) no-repeat;
	width: 6px;
	height: 11px;
	position: absolute;
	right: 0;
	z-index: 10000;
	top: 9px;
	right: -1px;
}
.menuson li a {
	display: block;
*display:inline;
*padding-top:5px;
}
.menuson li.active a {
	color: #fff;
}
.title {
	cursor: pointer;
}
/*main.html*/
.buttonBox {
	position: relative;
	float: left;
	width: 15%;
	margin-top: 200px;
	margin-left: 160px;
	
}
button {
	width: 100%;
	height: 80px;
	position: relative;
	background: rgba(255, 255, 255, .27);
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	font-size: 15px;
	outline: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* FIRST BUTTON */

.border {
	position: absolute;
	background: none;
	transition: all .5s ease-in-out;
}
#first>.border:nth-of-type(1) {
	top: 0;
	left: 0;
	border-left: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	width: 30px;
	height: 30px;
}
#first>.border:nth-of-type(2) {
	bottom: 0;
	right: 0;
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	width: 30px;
	height: 30px;
}
#first:hover .border {
	width: 102%;
	height: 105%;
}
/*right.html*/
.place {
	height: 40px;
	background: url(../images/righttop.gif) repeat-x;
}
.place span {
	line-height: 40px;
	font-weight: bold;
	float: left;
	margin-left: 12px;
}
.placeul li {
	float: left;
	line-height: 40px;
	padding-left: 7px;
	padding-right: 12px;
	background: url(../images/rlist.gif) no-repeat right;
}
.placeul li:last-child {
	background: none;
}
.rightinfo {
	padding: 8px;
}
.tools {
	clear: both;
	height: 35px;
	margin-bottom: 8px;
}
.toolbar {
	float: left;
}
.toolbar li {
	background: url(../images/toolbg.gif) repeat-x;
	line-height: 33px;
	height: 33px;
	border: solid 1px #d3dbde;
	float: left;
	padding-right: 10px;
	margin-right: 5px;
	border-radius: 3px;
	behavior: url(js/pie.htc);
	cursor: pointer;
}
.toolbar li span {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
}
.toolbar1 {
	float: right;
}
.toolbar1 li {
	background: url(../images/toolbg.gif) repeat-x;
	line-height: 33px;
	height: 33px;
	border: solid 1px #d3dbde;
	float: left;
	padding-right: 10px;
	margin-left: 5px;
	border-radius: 3px;
	behavior: url(js/pie.htc);
}
.toolbar1 li span {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
}
/**/
/*table*/
.list_table{
	width: 100%;
	border-top: 1px solid #d3dbde;
	border-right: 1px solid #d3dbde;
}
.list_table th{
height: 37px;
background: url('../images/box_top.png') 0px 0px repeat-x;
line-height: 37px;
border-left: 1px solid #d3dbde;
}
.list_table td{
	border-bottom: 1px solid #d3dbde;
    border-left: 1px solid #d3dbde;
    padding: 5px;
}
.form_table td{
	padding: 5px 5px;
}
.td_center{text-align: center;}
.td_left{text-align: left;}
.td_right{text-align: right;}
.td_right, .td_center, .td_left{
	width: 120px;
    line-height: 21px;
}
/*form*/
.textarea,.input-text{
	border: 1px solid #bac7d2;
	background: #f7fcfe;/* #f7fcfe #f3fafd*/
	border-radius: 2px;
	box-shadow: 2px 2px 2px #e7f1f7 inset;
}
.textarea,.input-text2{
	border: 1px solid #bac7d2;
	background: #f7fcfe;/* #f7fcfe #f3fafd*/
	border-radius: 2px;
	box-shadow: 2px 2px 2px #e7f1f7 inset;
}
.input-text2{height: 20px; width:300px;}

.textarea,.input-text3{
	border: 1px solid #bac7d2;
	background: #f7fcfe;/* #f7fcfe #f3fafd*/
	border-radius: 2px;
	box-shadow: 2px 2px 2px #e7f1f7 inset;
}
.input-text3{height: 20px; width:1000px;}

.textarea,.input-text4{
	border: 1px solid #bac7d2;
	background: #f7fcfe;/* #f7fcfe #f3fafd*/
	border-radius: 2px;
	box-shadow: 2px 2px 2px #e7f1f7 inset;
}
.input-text4{height: 30px; width:300px;}

.input-text{height: 20px; width:150px;}
.textarea{width: 380px;height: 90px;}
/*下拉框美化*/
.select{ 
border:1px solid #bac7d2; 
padding:4px 3px; 
font-size:12px; 
height:30px; 
*margin:-1px; 
border-radius: 2px;
box-shadow: 2px 2px 2px  #e7f1f7 inset;
} 
.select2{ 
border:1px solid #bac7d2; 
padding:4px 3px; 
font-size:12px; 
height:30px; 
*margin:-1px; 
border-radius: 2px;
box-shadow: 2px 2px 2px  #e7f1f7 inset;
width:200px;
}
.select3{ 
border:1px solid #bac7d2; 
padding:4px 3px; 
font-size:12px; 
height:30px; 
*margin:-1px; 
border-radius: 2px;
box-shadow: 2px 2px 2px  #e7f1f7 inset;
width:400px;
}
.select_border{ 
height:29px; 
*background:#fff; 
background:#fff; 
*border:1px solid #bac7d2; 
*padding:4px; 
*height:20px; 
} 
.select_containers{ 
*border:0; 
*position:relative; 
*height:18px; 
*overflow:hidden; 
} 
.select_border,.select_containers {
	display: inline-block;
}
/**/

.tablelist {
	border: solid 1px #cbcbcb;
	width: 100%;
	clear: both;
}
.tablelist th {
	background: url(../images/th.gif) repeat-x;
	height: 34px;
	line-height: 34px;
	border-bottom: solid 1px #b6cad2;
	text-indent: 11px;
	text-align: left;
}
.tablelist td {
	line-height: 35px;
	text-indent: 11px;
	border-right: dotted 1px #c7c7c7;
}
.tablelink {
	color: #056dae;
}
.tablelist tbody tr.odd {
	background: #f5f8fa;
}
.tablelist tbody tr:hover {
	background: #e5ebee;
}
.sort {
	padding-left: 3px;
}
/*page*/
.pagin {
	position: relative;
	margin-top: 10px;
	padding: 0 12px;
}
.pagin .blue {
	color: #056dae;
	font-style: normal;
}
.pagin .paginList {
	position: absolute;
	right: 12px;
	top: 0;
}
.pagin .paginList .paginItem {
	float: left;
}
.pagin .paginList .paginItem a {
	float: left;
	width: 31px;
	height: 28px;
	border: 1px solid #DDD;
	text-align: center;
	line-height: 30px;
	border-left: none;
	color: #3399d5;
}
.pagin .paginList .paginItem:first-child a {
	border-left: 1px solid #DDD;
}
.pagin .paginList .paginItem:first-child a {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.pagin .paginList .paginItem:last-child a {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.pagin .paginList .paginItem.current, .pagin .paginList .paginItem.current a {
	background: #f5f5f5;
	cursor: default;
	color: #737373;
}
.pagin .paginList .paginItem:hover {
	background: #f5f5f5;
}
.pagin .paginList .paginItem.more, .pagin .paginList .paginItem.more a:hover {
	cursor: default;
}
.pagin .paginList .paginItem.more:hover {
	background: #FFF;
}
.pagin .paginList .paginItem.more a {
	color: #737373;
}
.pagepre {
	background: url(../images/pre.gif) no-repeat center center;
	width: 31px;
	height: 28px;
}
.pagenxt {
	background: url(../images/next.gif) no-repeat center center;
	width: 31px;
	height: 28px;
}
/*index*/
.mainindex {
	padding: 20px;
	overflow: hidden;
}
.welinfo {
	height: 32px;
	line-height: 32px;
	padding-bottom: 8px;
}
.welinfo span {
	float: left;
}
.welinfo b {
	padding-left: 8px;
}
.welinfo a {
	padding-left: 15px;
	color: #3186c8;
}
.welinfo a:hover {
	color: #F60;
}
.welinfo i {
	font-style: normal;
	padding-left: 8px;
}
.xline {
	border-bottom: solid 1px #dfe9ee;
	height: 5px;
}
.iconlist {
	padding-left: 40px;
	overflow: hidden;
}
.iconlist li {
	text-align: center;
	float: left;
	margin-right: 25px;
	margin-top: 25px;
}
.iconlist li p {
	line-height: 25px;
}
.ibox {
	clear: both;
	padding-left: 40px;
	padding-top: 18px;
	overflow: hidden;
	padding-bottom: 18px;
}
.ibtn {
	background: url(../images/ibtnbg.png) repeat-x;
	border: solid 1px #bfcfe1;
	height: 23px;
	line-height: 23px;
	display: block;
	float: left;
	padding: 0 15px;
	cursor: pointer;
}
.ibtn img {
	margin-top: 5px;
	float: left;
	padding-right: 7px;
}
.box {
	height: 15px;
}
.infolist {
	padding-left: 40px;
	padding-bottom: 15px;
}
.infolist li {
	line-height: 23px;
	height: 23px;
	margin-bottom: 8px;
}
.infolist li span {
	float: left;
	display: block;
	margin-right: 10px;
}
.uimakerinfo {
	padding-left: 40px;
	background: url(../images/search.png) no-repeat 10px 15px;
	padding-top: 15px;
	padding-bottom: 20px;
}
.umlist {
	padding-left: 40px;
}
.umlist li {
	float: left;
	background: url(../images/ulist.png) no-repeat 0 5px;
	padding-left: 10px;
	margin-right: 15px;
}
/*default*/
.mainbox {
	padding: 8px;
	position: relative;
}
.mainleft {
	padding-right: 298px;
}
.leftinfo {
	border: #d3dbde solid 1px;
	height: 290px;
}
.mainright {
	width: 298px;
	position: absolute;
	top: 8px;
	right: 8px;
}
.dflist {
	border: #d3dbde solid 1px;
	width: 288px;
	height: 290px;
	float: right;
}
.dflist1 {
	border: #d3dbde solid 1px;
	width: 288px;
	height: 238px;
	float: right;
	margin-top: 8px;
}
.listtitle {
	background: url(../images/tbg.png) repeat-x;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #d3dbde;
	text-indent: 14px;
	font-weight: bold;
	font-size: 14px;
}
.more1 {
	float: right;
	font-weight: normal;
	color: #307fb1;
	padding-right: 17px;
}
.maintj {
	text-align: center;
}
.newlist {
	padding-left: 14px;
	padding-top: 15px;
}
.newlist li {
	line-height: 25px;
	background: url(../images/list2.png) no-repeat 0px 8px;
	text-indent: 11px;
}
.newlist i {
	width: 80px;
	display: block;
	float: left;
	font-style: normal;
}
.newlist b {
	font-weight: normal;
	color: #7b7b7b;
	padding-left: 10px;
}
.leftinfos {
	height: 238px;
	margin-top: 8px;
}
.infoleft {
	border: #d3dbde solid 1px;
	float: left;
	height: 238px;
}
.inforight {
	border: #d3dbde solid 1px;
	float: right;
	height: 238px;
}
.tooli {
	padding: 30px 20px;
}
.tooli li {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}
.tooli li span {
	text-align: center;
}
.tooli li p {
	line-height: 35px;
	text-align: center;
}
/*form*/
.formbody {
	padding: 10px 18px;
}
.formtitle {
	border-bottom: solid 1px #d0dee5;
	line-height: 35px;
	position: relative;
	height: 35px;
	margin-bottom: 28px;
}
.formtitle span {
	font-weight: bold;
	font-size: 14px;
	border-bottom: solid 3px #66c9f3;
	float: left;
	position: absolute;
	z-index: 100;
	bottom: -1px;
	padding: 0 3px;
	height: 30px;
	line-height: 30px;
}
.forminfo {
	padding-left: 23px;
}
.forminfo li {
	margin-bottom: 13px;
	clear: both;
}
.forminfo li label {
	width: 86px;
	line-height: 34px;
	display: block;
	float: left;
}
.forminfo li i {
	color: #7f7f7f;
	padding-left: 20px;
	font-style: normal;
}
.forminfo li cite {
	display: block;
	padding-top: 10px;
}
.dfinput {
	width: 345px;
	height: 20px;
	line-height: 20px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	text-indent: 10px;
}
.textinput {
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../images/inputbg.gif) repeat-x;
	padding: 10px;
	width: 504px;
	height: 135px;
	line-height: 20px;
	overflow: hidden;
}
.btn {
	width: 137px;
	height: 35px;
	background: url(../images/btnbg.png) no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
/*tip*/
.tip {
	width: 485px;
	height: 260px;
	position: absolute;
	top: 10%;
	left: 30%;
	background: #fcfdfd;
	box-shadow: 1px 8px 10px 1px #9b9b9b;
	border-radius: 1px;
	behavior: url(js/pie.htc);
	display: none;
	z-index: 111111;
}
.tiptop {
	height: 40px;
	line-height: 40px;
	background: url(../images/tcbg.gif) repeat-x;
	cursor: pointer;
}
.tiptop span {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	float: left;
	text-indent: 20px;
}
.tiptop a {
	display: block;
	background: url(../images/close.png) no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
	cursor: pointer;
}
.tiptop a:hover {
	background: url(../images/close1.png) no-repeat;
}
.tipinfo {
	padding-top: 30px;
	margin-left: 65px;
	height: 95px;
}
.tipinfo span {
	width: 95px;
	height: 95px;
	float: left;
}
.tipright {
	float: left;
	padding-top: 15px;
	padding-left: 10px;
}
.tipright p {
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}
.tipright cite {
	color: #858686;
}
.tipbtn {
	margin-top: 25px;
	margin-left: 125px;
}
.sure, .cancel {
	width: 96px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: url(../images/btnbg1.png) repeat-x;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}
.cancel {
	background: url(../images/btnbg2.png) repeat-x;
	color: #000;
	font-weight: normal;
}
/*tools*/
.toolsli {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}
.toollist {
	margin-left: 20px;
	overflow: hidden;
	float: left;
}
.toollist li {
	width: 66px;
	text-align: center;
	float: left;
	margin-right: 32px;
}
.toollist li a {
	width: 65px;
	height: 65px;
	background: #fafbfb;
	border-right: solid 1px #dbdbdb;
	border-bottom: solid 1px #dbdbdb;
	display: block;
}
.toollist li a:hover {
	background: #eef4f7;
	border-right: solid 1px #d0d5d7;
	border-bottom: solid 1px #d0d5d7;
}
.toollist li h2 {
	line-height: 35px;
}
.tooladd {
	margin-top: 25px;
	width: 20px;
	height: 20px;
	float: left;
	display: block;
}
/*error 404*/
.error {
	background: url(../images/404.png) no-repeat;
	width: 490px;
	margin-top: 75px;
	padding-top: 65px;
}
.error h2 {
	font-size: 22px;
	padding-left: 154px;
}
.error p {
	padding-left: 154px;
	line-height: 35px;
	color: #717678;
}
.reindex {
	padding-left: 154px;
}
.reindex a {
	width: 115px;
	height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: #3c95c8;
	display: block;
	line-height: 35px;
	text-align: center;
	border-radius: 3px;
	behavior: url(js/pie.htc);
	margin-top: 20px;
}
/*computer*/
.comtitle {
	padding: 20px;
	clear: both;
}
.comtitle span {
	width: 10px;
	height: 10px;
	background: url(../images/clist.png) no-repeat;
	float: left;
	background: #fff;
	padding-top: 3px;
}
.comtitle h2 {
	font-size: 14px;
	display: block;
	float: left;
	color: #2a3e93;
	background: #fff;
	padding-left: 5px;
	padding-right: 8px;
}
.rline {
	border-bottom: solid 1px #e5ecf0;
	height: 10px;
	margin-left: 50px;
}
.disklist {
	padding-left: 20px;
	padding-right: 20px;
}
.disklist li {
	width: 275px;
	_width: 270px;
	float: left;
	margin-right: 10px;
px;
	height: 70px;
	cursor: pointer;
	margin-bottom: 5px;
	border: solid 1px #fff;
}
.disklist li a {
	color: #000;
}
.disklist li:hover {
	background: #fcfcfc;
	border: solid 1px #e5ecf0;
}
.dleft {
	background: url(../images/c02.png) no-repeat;
	height: 50px;
	margin-left: 12px;
	float: left;
	width: 50px;
	margin-top: 15px;
}
.dleft1 {
	background: url(../images/c01.png) no-repeat;
	height: 50px;
	margin-left: 12px;
	float: left;
	width: 50px;
	margin-top: 15px;
}
.dleft2 {
	background: url(../images/c03.png) no-repeat;
	height: 50px;
	margin-left: 12px;
	float: left;
	width: 50px;
	margin-top: 15px;
}
.dright {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.dright h3 {
	font-weight: normal;
	padding-top: 15px;
}
.dright p {
	color: #949494;
}
.dinfo {
	width: 189px;
	height: 15px;
	background: url(../images/diskbg.png) no-repeat;
	margin-top: 5px;
	margin-bottom: 5px;
}
.dinfo span {
	background: url(../images/cbg.png) repeat-x;
	height: 15px;
}
.filetable {
	width: 100%;
}
.filetable thead tr {
	background: #f5f9fb;
	line-height: 35px;
}
.filetable thead tr th {
	text-align: left;
	text-indent: 15px;
	font-weight: normal;
	color: #597190;
}
.filetable tbody tr td {
	text-indent: 15px;
	line-height: 23px;
}
.filetable tbody tr td img {
	margin-right: 5px;
}
.tdlast {
	text-align: right;
}
.filetable tbody tr:hover {
	background: #f5f8fa;
	cursor: pointer;
}
/*imglist*/
.imglist {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: 5px;
}
.imglist li {
	width: 188px;
	border: solid 1px #fff;
	height: 199px;
	float: left;
	margin-right: 8px;
	margin-bottom: 10px;
	cursor: pointer;
}
.imglist li:hover {
	border: solid 1px #d7e4ea;
}
.imglist li span {
	width: 168px;
	height: 126px;
	margin: 8px;
}
.imglist li h2 {
	text-align: center;
	line-height: 25px;
}
.imglist li p {
	text-align: center;
	line-height: 17px;
	background: url(../images/line1.png) center center no-repeat;
}
.imglist li p a {
	color: #1f7cb6;
}
.imglist li p a:hover {
	color: #F60;
}
/*imgtable*/
.imgtable {
	width: 100%;
	border: solid 1px #cbcbcb;
}
.imgtable th {
	background: url(../images/th.gif) repeat-x;
	height: 34px;
	line-height: 34px;
	border-bottom: solid 1px #b6cad2;
	text-indent: 21px;
	text-align: left;
}
.imgtable td {
	line-height: 20px;
	text-indent: 21px;
	border-right: dotted 1px #c7c7c7;
}
.imgtable td img {
	margin: 10px 20px 10px 0;
}
.imgtable td p {
	color: #919191;
}
.imgtable td i {
	font-style: normal;
	color: #ea2020;
}
.imgtd {
	text-indent: 0;
}
.imgtable tbody tr.odd {
	background: #f5f8fa;
}
.imgtable tbody tr:hover {
	background: #e5ebee;
}
/*tab*/
.itab {
	height: 36px;
	border-bottom: solid 1px #d0dee5;

	position: relative;
	border-left: solid 1px #d3dbde;
}
.itab ul li {
	float: left;
	height: 37px;
	line-height: 37px;
	background: url(../images/itabbg.png) repeat-x;
	border-right: solid 1px #d3dbde;
}
.itab ul li a {
	font-size: 14px;
	color: #000;
	padding-left: 25px;
	padding-right: 25px;
}
.itab ul li a.selected {
	height: 37px;
	display: block;
	background: url(../images/itabbg1.png) repeat-x;
	font-weight: bold;
}
.tabson {
	margin: 18px 0px;
}
.formtext {
	height: 45px;
	padding-left: 25px;
	line-height: 20px;
	color: #848383;
}
.formtext b {
	color: #d70101;
}
.forminfo b {
	color: #ea2020;
	padding-left: 3px;
}
/*class*/
.classlist li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 12px;
	border: 1px solid #ebebeb;
	background: #fcfcfc;
}
.classlist li:hover {
	border: 1px solid #3eafe0;
	cursor: pointer;
}
.classlist li span {
	float: left;
	margin-right: 18px;
	border: 3px solid #fff;
}
.classlist li .lright {
	float: left;
	width: 150px;
}
.classlist li .lright h2 {
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
}
.classlist li .lright p {
	line-height: 20px;
}
.enter {
	display: block;
	margin-top: 5px;
	width: 94px;
	height: 30px;
	color: #fff;
	background: #3eafe0;
	font-weight: bold;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.enter:hover {
	color: #fff;
	background: #d98c1d;
}
.clear {
	clear: both;
}
/*seachform*/
.seachform {
	height: 42px;
}
.seachform li {
	float: left;
	margin-right: 15px;
}
.seachform li label {
	padding-right: 10px;
	float: left;
	line-height: 32px;
}
.seach {
	height: 42px;
	margin-left: 300px;
}
.seach li {
	float: left;
	margin-right: 15px;
}
.seach li label {
	padding-right: 10px;
	float: left;
	line-height: 32px;
}
.scinput {
	width: 150px;
	height: 32px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../images/inputbg.gif) repeat-x;
	text-indent: 10px;
}
.scbtn {
	width: 85px;
	height: 35px;
	background: url(../images/btnbg.png) no-repeat center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	behavior: url(js/pie.htc);
}
.scbtn2 {
	width: 50px;
	height: 24px;
	background: url(../images/btnbg3.png) no-repeat center;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}
.scbtn3 {
	width: 75px;
	height: 24px;
	background: url(../images/btnbg3.png) no-repeat center;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}
.buttonBox{
  position:relative;
  float:left;
  width:15%;
  margin-top:200px;
  margin-left:160px;
}


button{
  width:100%;
  height:80px;
  position:relative;
  background:rgba(255, 255, 255, .27);
  text-transform:uppercase;
  color:white;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/* FIRST BUTTON */

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

#first>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:2px solid #ffffff;
  border-top:2px solid #ffffff;
  width:30px;
  height:30px;
}

#first>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:2px solid #ffffff;
  border-bottom:2px solid #ffffff;
  width:30px;
  height:30px;
}

#first:hover .border{
  width:102%;
  height:105%;
}


/*# sourceMappingURL=style.css.map */
